<div class="container">
    <h1>Listar livros</h1>

    <a href="#" routerLink="/livro/create/" class="btn btn-success">Novo livro</a>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Código</th>
                <th>Título</th>
                <th width="250px">Ação</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let livro of livros">
                <td>{{ livro.codigo }}</td>
                <td>{{ livro.titulo }}</td>
                <td>
                    <a href="#" [routerLink]="['/livro/', livro.codigo, 'view']" class="btn btn-info">Visualizar</a>
                    <a href="#" [routerLink]="['/livro/', livro.codigo, 'edit']" class="btn btn-primary">Editar</a>
                    <button type="button" (click)="deleteLivro(livro.codigo)" class="btn btn-danger">Excluir</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>