<div class="container">
    <h1>Editar assunto</h1>

    <a href="assunto/index" class="btn btn-primary">Voltar</a>

    <form [formGroup]="form" (ngSubmit)="submit()">

        <div class="form-group">
            <label for="descricao">Descrição:</label>
            <input formControlName="descricao" id="descricao" type="text" [(ngModel)]="assunto.descricao"
                class="form-control">
        </div>
        <button class="btn btn-primary" type="submit">Atualizar</button>
    </form>
</div>